@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed&family=Cedarville+Cursive&family=Comfortaa:wght@600&family=Comic+Neue:wght@5;400&family=Courgette&family=Grape+Nuts&family=Lemonada:wght@400;600&family=Lobster&family=Montserrat:wght@600&family=Overlock:ital,wght@0,400;1,900&family=Paprika&family=Permanent+Marker&family=Secular+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed&family=Cedarville+Cursive&family=Comfortaa:wght@600&family=Comic+Neue:wght@300;400&family=Courgette&family=Grape+Nuts&family=Lemonada:wght@400;600&family=Lobster&family=Montserrat:wght@600&family=Overlock:ital,wght@0,400;1,900&family=Paprika&family=Permanent+Marker&family=Poppins&family=Secular+One&display=swap');

body{
    scroll-behavior: smooth;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    
}

::-webkit-scrollbar-track {
    background-color: white;

}
.css-19kzrtu {
    padding: 2px!important;
}
#nav {
    background-color:transparent;
    box-shadow: none;
}

.css-130f8nx a {
    color:rgb(99,252,216);
    font-weight: bolder;
    text-decoration: none;
    font-size: 110%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px 10px 10px;
}
path{
    color: white;
}

.css-130f8nx a:hover {
    text-decoration: underline;
}

.css-ahj2mt-MuiTypography-root {
    overflow-x: hidden;
}



.css-k008qs{
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 45vw;
    display: flex;
    justify-content: center;
    padding: 4px !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: rgb(99,252,216) !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper .logo{
    margin: 20px auto;
}
.drawerLink {
    display: block;
    text-decoration: none;
    color: rgb(10,25,47);
    font-weight: bolder;
    margin:20px auto;
    font-size: 110%;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}

.drawerLink:hover {
    text-decoration: underline;
}

@media (max-width:1300px) {
    .css-k008qs {
        height: 40vw;
    }

}

@media (max-width:920px) {
    .css-k008qs{
        height: 90vw;
    }


    .css-130f8nx a {
        margin: 10px;
        font-size: 90%;
    }
}

@media (max-width:700px) {
    .css-k008qs{
        height: 100vw;
    }

}

@media (max-width:610px) {
    .css-k008qs{
        height: 120vw;
    }

}

@media (max-width:500px) {
    .css-k008qs{
        height: 145vw;
        background-position:bottom;
    }

}

@media (max-width:410px) {
    .css-k008qs {
        height: 190vw;
    }

}

@media (max-width:320px) {
    .css-k008qs{
        height: 220vw;
    }

}

