@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#CONTACT{

  height: 580px;
  margin-top: -70px;
}

.all{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.box{
  display: flex;
  flex-direction: column;
}

.input{
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 0.3rem;
  border-style: none;

}
.form{
  padding: 0 20px 20px 0;
}

.message{
  height: 230px;
  width: 300px;
  border-radius: 0.3rem;
  border-style: none;
  padding-left: 20px;
  padding-top: 20px;
}

.submit{
  padding:15px;
  width: 150px;
  font-family:'Montserrat';
  font-weight: bolder;
  font-size: 18px;
  background-color: rgb(136,146,176);
  color: white;
  border-style: none;
  border-radius: 0.3rem;
  justify-items: center;
  display:block;
  margin: 0 auto;
  margin-left: 1025px;
  margin-top: -50px !important;
  letter-spacing: 0.3rem;
}

.title{
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(204,214,246);
}

input::placeholder{
  font-size: 15px;
  font-weight: bold;
  color:lightslategrey;
  font-family: 'Montserrat';
}

textarea::placeholder{
  font-size: 18px;
  font-weight: bold;
  color:lightslategrey;
}

.total{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socialsmain{
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  width: 650px;
}

.socialsmain h1{
  color:rgb(99,252,216);
  font-size: 35px;
  letter-spacing: 0.3rem;
  font-family: "Open Sans";
  font-weight: bolder ;
}

.socialsmain h5{
  font-size: 20px;
  text-align: justify;
  color: rgb(136,146,176);
  font-weight: lighter;
  line-height: 2.2rem;
  letter-spacing: 0.08rem;
  font-family:"Open Sans";
  
}

.socials{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: -80px;
}

.contactbtn{
  margin-top: 40px;
}

.icons{
  margin-top: 20px !important;
  display: inline-block;
    border-radius: 100px;
    color: white;
    background-color:rgb(136,146,176) ;
  padding: 1em 1em;
  margin-right: 40px !important;
}

@media (max-width: 500px) {
  #CONTACT{
    height: 700px !important;
  }
  .title h1{
    font-size: 40px !important;
  }
  .container1{
    display: flex;
    flex-direction: column;
  }
  .total{
    display: flex;
    flex-direction: column;
  }

  .socialsmain{
    margin-top: -60px;
    width:400px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
  }

  .socialsmain h1{
    font-size: 110%;
    text-align: center;
  }
  .socialsmain h5{
    display: flex;
    font-size: 110%;
    /* text-align: center; */
    margin: 0 auto;
    align-items: center;
  }

  .box{
    display: flex;
    flex-direction: column;
  }
  .input{
    width: 150px !important;
    height: 30px !important;
    margin-left: 10px;
  }
  .socials{
    margin-top: -50px;
    margin-left: 75px;
  }
  .message{
    width: 200px;
    height: 165px;
  }
  .icons{
    padding: 10px;
  }
  .all{
    display: flex;
    flex-direction: row !important;
    margin: 0 auto;
  }
  input::placeholder{
    font-size: 12px;
    font-weight: bold;
    color:lightslategrey;
    font-family: 'Montserrat';
  }
  textarea::placeholder{
    font-size: 15px;
    font-weight: bold;
    color:lightslategrey;
  }
}



